#
# Crontab addition for Duplicacy Scripts
#

# Minute, Hour, DoM, Month, DoW


# Software update.  Do this well before anything else.
#Min Hour DoM Mon DoW  Command
30   16   *   *   1-6  __BIN__/update

# Backups
#Min Hour DoM Mon DoW  Command
0    *    *   *   *    __BIN__/cron-backup

# Routine Maintenance
#Min Hour DoM Mon DoW  Command
0    17   *   *   *    __BIN__/cron-daily
15   17   *   *   7    __BIN__/cron-weekly
30   17   1-7 *   7    __BIN__/cron-monthly
